btn.aside-btn{
    padding: 15px;
    color: white;
    background-image: linear-gradient(to bottom right,#31383c33,springgreen);
    border-bottom: .25px solid white;
    font-size:14px;
    text-decoration: none;
    display:block;
    transition: .3s;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
}

btn.aside-btn:hover{
    background: green;
    transition: .3s;
}