:root {
    --base-color: #0A2F51;
    --base-light: #0E4D64;
    --med-accent: #39A96B;
    --hi-accent: #DEEDCF;
    --full-height: 100vh;
    --header-height: 75px;
    }

    .collectionLink{
        margin: 0 0 7px;
    }
.collectionLink > a{
    background: var(--base-light);
    color: var(--hi-accent);
    text-decoration: none;
    padding: 0 3px;
}